<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="rodape">
		<footer class="bg-dark text-center text-white">
			<!-- Grid container -->
			<div class="container p-4 pb-0">
				<!-- Section: Social media -->
				<section class="mb-4">
					<!-- Facebook -->
					<a class="btn btn-outline-light btn-floating m-1" th:href="@{https://www.facebook.com/alan.soaresdacosta?mibextid=ZbWKwL}" role="button">
						<i class="bi bi-facebook"></i></a>

					<!-- Whatsapp -->
					<a class="btn btn-outline-light btn-floating m-1" th:href="@{https://wa.me/qr/GT7FKYNJEFKMI1}" role="button">
						<i class="bi bi-whatsapp"></i></a>

					<!-- Instagram -->
					<a class="btn btn-outline-light btn-floating m-1" th:href="@{https://instagram.com/soareskostta?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D}" role="button">
						<i class="bi bi-instagram"></i></a>

					<!-- Linkedin -->
					<a class="btn btn-outline-light btn-floating m-1" th:href="@{https://www.linkedin.com/in/alan-soares-da-costa-89a662232}" role="button">
						<i class="bi bi-linkedin"></i></a>

					<!-- Github -->
					<a class="btn btn-outline-light btn-floating m-1" th:href="@{https://github.com/alankostta}" role="button">
						<i class="bi bi-github"></i></i></a><br>
					<div class="text-center p-3">
						© 2023 Copyright: Alan Soares da Costa
					</div>
				</section>
				<!-- Section: Social media -->
			</div>
		</footer>
	</div>
</body>
</html>