<main th:fragment="main">
	<div class="row-12">
		<fieldset class="fieldset text-left mb-5">
			<legend>Menu</legend>
			<div class="row mt-3">
				<div class="col">
					<form class="formulario" th:object="${pedidoDto}" th:action="${action}" method="POST">
						<div class="row">
							<div class="col">
								<label class="form-label">Status do Pedido</label>
								<select class="form-select form-select" aria-label="Default select example"
									th:field="*{enumStatus}">
									<option th:each="pedido : ${listaStatus}" th:value="${pedido}" th:text="${pedido}">
									</option>
								</select>
							</div>
							<div class="col">
								<label class="form-label">Tipo de pagamento</label>
								<select class="form-select form-select" aria-label="Default select example"
									th:field="*{enumPagamento}">
									<option th:each="pedido : ${listaPagamento}" th:value="${pedido}"
										th:text="${pedido}"></option>
								</select>
							</div>
							<div class="col">
								<label class="form-label">Data de geração
									do pedido</label>
								<input type="date" class="form-control" th:field="*{dataCadastro}" />

							</div>
							<div class="col">
								<label class="form-label">Bandeira doCartão</label>
								<select class="form-select form-select col-sm-3" aria-label="Default select example"
									th:field="*{enumCartao}">
									<option th:each="pedido : ${listaCartao}" th:value="${pedido}" th:text="${pedido}">
									</option>
								</select>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col">
								<label class="form-label">Código do cliente:</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">Id:</span>
									</div>
									<input type="number" class="form-control" id="idClie" th:field="*{clienteDto.id}"
										readonly="readonly">
								</div>
							</div>
							<div class="col">
								<label class="form-label">Cliente:</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<button class="btn btn-outline-primary btn" type="button" data-bs-toggle="modal"
											data-bs-target="#pesquisarClienteModal">Pesquisar</button>
									</div>
									<input type="text" class="form-control" id="nomeClie" th:field="*{clienteDto.id}"
										placeholder="Digite o nome do cliente">
								</div>
							</div>
							<div class="col">
								<label class="form-label">Vendedor:</label>
								<select class="form-select form-select" th:field="*{aduser.nome}"
									aria-label="Default select example" id="selectUsuarios">
									<option value="">Selecione um Vendedor</option>
									<option th:each="user : ${users}" th:value="${user.id}"
										th:text="${user.nome}"></option>
								</select>
							</div>
						</div>
						<br>
						<div>
							<div class="row">
								<div class="col-3">
									<label class="col-md-2 col-form-label">Valor/Desconto:</label>
									<div class="input-group">
										<span class="input-group-text" id="basic-addon1">R$</span>
										<input id="porcentagem" th:field="*{descontoPedido}" type="number"
											class="form-control form-control-sm" aria-describedby="basic-addon1">
										<button type="button" class="btn btn-warning"
											onClick="calcularDescontoPedido()">Calcular</button>
									</div>

								</div>
							</div>
						</div>
						<br />
						<div>
							<fieldset class="fieldset text-left mb-5">
								<ul class="nav nav-tabs">
									<li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
											data-bs-target="#itens">Itens</a></li>
									<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
											data-bs-target="#entrega">Dados da
											entrega</a></li>
									<li class="nav-item"><a class="nav-link" data-bs-toggle="tab"
											data-bs-target="#observacao">Observação
											do Pedido</a></li>
								</ul>
								<div class="tab-content">
									<div id="itens" class="tab-pane fade show active">
										<div th:replace="~{pedido/tabela_itens :: tabelaItens}"></div>
									</div>
									<div id="entrega" class="tab-pane fade">
										<div th:replace="~{pedido/form_entrega :: dadosEntrega}"></div>
									</div>
									<div id="observacao" class="tab-pane fade">
										<div th:replace="~{pedido/form_observacao :: observacao}"></div>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="row" id="loaders">
							<div class="col">
								<button type="submit" class="btn btn-outline-success">Salvar
									Pedido</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-warning" data-bs-toggle="modal"
									data-bs-target="#pesquisarProdutoModal">Pesquisar
									produto</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-outline-primary">Pesquisar
									Pedido</button>
							</div>
							<div class="col">
								<a th:href="@{/pedido/cancelar}" class="btn btn-outline-danger">Cancelar
									Pedido</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</fieldset>
	</div>
</main>