
<div th:fragment="dadosEntrega" class="row">
	<div class="form-group col-md-3">
        <label for="codigoEndereco">Código Endereço</label>
        <input type="number" class="form-control" id="codigoEndereco"
        placeholder="Código Edereço">
    </div>
    <div class="form-group col-md-3">
        <label for="uf">UF</label>
        <input type="text"  class="form-control" id="pedidoUf" placeholder="UF">
    </div>
    <div class="form-group col-md-6">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control" id="pedidoCidade" placeholder="Cidade">
    </div>
    <div class="form-group col-md-5">
        <label for="cidade">Bairro</label>
        <input type="text"  class="form-control" id="pedidoBairro" placeholder="Bairro">
    </div>
    <div class="form-group col-md-7">
        <label for="logradouro">Logradouro</label>
        <input type="text" class="form-control"  id="pedidoLogradouro" placeholder="Logradouro">
    </div>
    <div class="form-group col-md-2">
        <label for="numero">Número:</label>
        <input type="text" class="form-control"  id="pedidoNumero" placeholder="Número">
    </div>
    <div class="form-group col-md-3">
        <label for="cep">Cep</label>
        <input type="text" class="form-control"  id="pedidoCep" placeholder="Cep">
    </div>
      <div class="form-group col-md-3">
        <label for="cep">Complemento</label>
        <input type="text" class="form-control"  id="pedidoComplemento" placeholder="Complemento">
    </div>
</div>




