<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec=http://www.thymeleaf.org/extras/spring-security
	xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>

<head th:replace="~{fragmentos :: head('Cadastro Pedido')}">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
	crossorigin="anonymous">
	
</script>
</head>
<body>
	<script src="js/scripts.js"></script>
	<header th:replace="~{fragmentos :: header('Cadastrar Pedido')}"></header>
	<br>
	<main>
		<div class="container">
			<div class="row mt-3">
				<div class="col">
					<form class="formulario" action="/pedido" method="POST">
						<div class="form-group mb-3">
							<div class="form-group mb-3">
								<select class="form-select" aria-label="Default select example">
									<option selected>Status do Pedido</option>
									<option value="1">Aberto</option>
									<option value="2">Pago</option>
								</select>
							</div>
							<div class="form-group mb-3">
								<select class="form-select" aria-label="Default select example">
									<option selected>Tipo de pagamento</option>
									<option value="1">Pix</option>
									<option value="2">Dinheiro</option>
									<option value="2">Cartão</option>
									<option value="2">Não Pago</option>
								</select>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Código:</span>
								</div>
								<input type="text" class="form-control" id="idClie"
									readonly="readonly">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<button class="btn btn-outline-primary" type="button"
										data-bs-toggle="modal" data-bs-target="#pesquisarClienteModal">Pesquisar</button>
								</div>
								<input type="text" class="form-control" id="nomeClie"
									placeholder="Digite o nome do cliente">
							</div>
						</div>
						<button type="button" class="btn btn-outline-warning"
							data-bs-toggle="modal" data-bs-target="#pesquisarProdutoModal">Pesquisar
							produto</button>

						<table id="listaPedido" class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Código.</th>
									<th scope="col">Nome.</th>
									<th scope="col">Marca.</th>
									<th scope="col">Preço.</th>
									<th scope="col">Qtd.</th>
									<th scope="col">Sub Total.</th>
									<th scope="col">Remover</th>
								</tr>
							</thead>
							<tbody id="tbody">
							</tbody>
							<tfoot>
								<tr>
									<th colspan="6" scope="col" class="text-rigth">TOTAL:</th>
									<th socpe="col"><input id="total" name="monto"
										class="form-control" readonly="readonly"
										style="background-color: #DCDCDC"></th>
								</tr>
							</tfoot>
						</table>
						<div class="row justify-content-between" id="loaders">
							<div class="col-md-4 mb-2">
								<button type="submit" class="btn btn-outline-primary">Finalizar
									Pedido</button>
							</div>
							<div class="col-md-4 mb-2">
								<button onClick="limparPedido()" class="btn btn-outline-danger">Cancelar
									Compra</button>
								</di>
							</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<div class="modal fade" id="pesquisarClienteModal" tabindex="-1"
		aria-labelledby="clienteModalpesquisa" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="clienteModalpesquisa">Pesquisar
						Cliente</h5>
					<button type="button" data-bs-dismiss="modal" class="btn-close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="nameBuscarCliente" class="col-form-label">Informe
							o nome do cliente:</label> <input type="text" class="form-control"
							id="nomeCliente">
					</div>
					<button type="button" class="btn btn-outline-success btn-sm"
						onclick="pesquisarCliente()">Buscar</button>
					<table class="table" id="tabResultadosCliente">
						<thead>
							<tr>
								<th scope="col">Id:</th>
								<th scope="col">Nome</th>
								<th scope="col">Selecionar</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary"
						data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="pesquisarProdutoModal" tabindex="-1"
		aria-labelledby="modalLongTitle" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLongTitle">Pesquisar Produto</h5>
					<button type="button" data-bs-dismiss="modal" class="btn-close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="nameBuscarCliente" class="col-form-label">Informe
							o produto:</label> <input type="text" class="form-control"
							id="descricaoProduto">
					</div>
					<button type="button" class="btn btn-outline-success btn-sm"
						onclick="pesquisarProduto()">Buscar</button>
					<table class="table" id="tabDescricaoProduto">
						<thead>
							<tr>
								<th scope="col">Id:</th>
								<th scope="col">Nome</th>
								<th scope="col">Selecionar</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-secondary"
						data-bs-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>