<div class="row" th:fragment="cadasPedido">
	<div class="col">
		<label class="form-label">Status do Pedido</label>
		<select class="form-select form-select" aria-label="Default select example" th:field="*{enumStatus}">
			<option th:each="pedido : ${listaStatus}" th:value="${pedido}" th:text="${pedido}">
			</option>
		</select>
	</div>
	<div class="col">
		<label class="form-label">Tipo de pagamento</label>
		<select class="form-select form-select" aria-label="Default select example" th:field="*{enumPagamento}">
			<option th:each="pedido : ${listaPagamento}" th:value="${pedido}" th:text="${pedido}"></option>
		</select>
	</div>
	<div class="col">
		<label class="form-label">Data de geração
			do pedido</label>
		<input type="date" class="form-control" th:classappend="${#fields.hasErrors('dataCadastro')}? 'is-invalid'"
			th:field="*{dataCadastro}" />
		<div class="invalid-feedback">
			<span th:errors="*{dataCadastro}"></span>
		</div>
	</div>
	<div class="col">
		<label class="form-label">Bandeira doCartão</label>
		<select class="form-select form-select col-sm-3" aria-label="Default select example" th:field="*{enumCartao}">
			<option th:each="pedido : ${listaCartao}" th:value="${pedido}" th:text="${pedido}">
			</option>
		</select>
	</div>
</div>
<br>
<div class="row">
	<div class="col">
		<label class="form-label">Código do cliente:</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">Id:</span>
			</div>
			<input type="number" class="form-control" id="idClie" th:field="*{cliente.id}" readonly="readonly">
		</div>
	</div>
	<div class="col">
		<label class="form-label">Cliente:</label>
		<div class="input-group">
			<div class="input-group-prepend">
				<button class="btn btn-outline-primary btn" type="button" data-bs-toggle="modal"
					data-bs-target="#pesquisarClienteModal">Pesquisar</button>
			</div>
			<input type="text" class="form-control" id="nomeClie" th:field="*{cliente.nome}"
				placeholder="Digite o nome do cliente">
		</div>
	</div>
	<div class="col">
		<label class="form-label">Data de Nascimento</label>
		<input type="date" class="form-control" id="dataNasci" th:field="*{cliente.dataNasci}">
	</div>
	<div class="col">
		<label class="form-label">Sexo</label>
		<input type="text" class="form-control" id="sexo" th:field="*{cliente.sexo}">
	</div>
</div>
<br>