<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Consultar pedidos</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
	<script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
	<script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
	<script defer src="/js/datatable.js"></script>
</head>
<body>
	<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Data de Alteração</th>
                <th>Ano</th>
                <th>Valor do Pedido</th>
                <th>Valor de desconto date</th>
                <th>Obs</th>
                <th>Data de Cadastro</th>
                <th>Status</th>
                <th>Forma do Pagamento</th>
                <th>Bandeira do cartão</th>
                <th>Itens</th>
                <th>Vendedor</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
               <th>id</th>
                <th>Data de Alteração</th>
                <th>Ano</th>
                <th>Valor do Pedido</th>
                <th>Valor de desconto date</th>
                <th>Obs</th>
                <th>Data de Cadastro</th>
                <th>Status</th>
                <th>Forma do Pagamento</th>
                <th>Bandeira do cartão</th>
                <th>Itens</th>
                <th>Vendedor</th>
                <th>Cliente</th>
            </tr>
        </tfoot>
    </table>
</body>
</html>