<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec=http://www.thymeleaf.org/extras/spring-security
    xmlns:shiro=http://www.pollix.at/thymeleaf/shiro> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
      crossorigin="anonymous">
<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous">
</script>
<head th:replace="~{fragmentos :: head('Cadastro Pedido')}"></head>
<body>
<header th:replace="~{fragmentos :: header('Cadastrar Pedido')}"></header>
<br>
<main>
	<div class="container">
		<div class="row mt-3">
			<div class="col">
				<form id="#" action="#" method="POST">
					<div class="form-group row">
						<label for="cliente" class="col-12 col-md-2 col-form-label h2">Cliente:</label>
						<div class="col-12 col-md-10">
							<input type="text" class="form-control" id="#" placeholder="Pesquisar o cliente">
						</div>
					</div>
					<div class="form-group row">
					<label for="email" class="col-12 col-md-2 col-form-label h2">Produto:</label>
						<div class="col-12 col-md-10">
							<input type="text" class="form-control" id="#" placeholder="Pesquisar o Produto">
						</div>
					</div>
					<div id="carrinho" class="form-group table-responsive">
						<table class="table" id="lista-compra">
							<thead>
								<tr>
									<th scope="col">Id-Produto</th>
									<th scope="col">Nome</th>
									<th scope="col">Preço</th>
									<th scope="col">Qtd</th>
									<th scope="col">Sub Total</th>
									<th scope="col">Remover</th>
								</tr>	
							</thead>
							<tbody>
							</tbody>
							<tr>
								<th colspan="4" scope="col" class="text-rigth">SUB TOTAL:</th>
								<th socpe="col">
									<p id="subtotal"></p>
								</th>
							</tr>
							<tr>
								<th colspan="4" scope="col" class="text-rigth">IVA:</th>
								<th socpe="col">
									<p id="iva"></p>
								</th>
							</tr>
							<tr>
								<th colspan="4" scope="col" class="text-rigth">TOTAL:</th>
								<th socpe="col">
									<input id="total" name="monto" class="font-weigth-bold border-0"
										   readonly style="background-color:#6610f2">	   
								</th>
							</tr>
						</table>
					</div>
					<div class="row justify-content-between" id="loaders">
						<div class="col-md-4 mb-2">
							<button href="#" class="btn btn-outline-success">Continuar Comprando</button> 
						</div>
						<div class="col-xs-12 col-md-4">
							<button href="#" class="btn btn-outline-danger" id="processar-compra">Cancelar Compra</button>
						</div>
					</div >
				</form>
			</div>
		</div>
	</div>
</main>
</body>
</html>