<div th:fragment="tabelaItens">
	<input type="hidden" name="listaProdutos" id="listaProdutos">
	<table id="listaPedido" class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Código.</th>
				<th scope="col">Nome.</th>
				<th scope="col">Marca.</th>
				<th scope="col">Preço.</th>
				<th scope="col">Qtd.</th>
				<th scope="col">Sub Total.</th>
				<th scope="col">Remover</th>
			</tr>
		</thead>
		<tbody id="tbody">
<!--			<tr th:each="item : ${listaItens}">-->
<!--				<td th:text="${item.id}"></td>-->
<!--				<td th:text="${item.descricao}"></td>-->
<!--			</tr>-->
		</tbody>
		<tfoot>
<!--			<tr>-->
<!--				<th colspan="6" scope="col" class="text-rigth">TOTAL:</th>-->
<!--				<th th:text="*{item.valorPedido}" socpe="col">-->
<!--				<th th:text="*{item.valorPedido}" style="background-color: #DCDCDC"></th>-->
<!--			</tr>-->
		</tfoot>
	</table>
</div>