<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragmentos/head :: head('Controle de Despesas')}"></head>
<body>
	<script src="js/scripts.js"></script>
	<header th:replace="~{fragmentos/navBar :: nav}"></header>
	<header th:replace="~{fragmentos/header :: header('Cadastro de Despesas')}"></header>
	<fieldset class="fieldset text-left mb-6">
	<div class="text-center">
	<div class="row">
		<div class="col">
			<label>Descrição do débito</label>
			<input class="form-control" type="text"/>
		</div>
		<div class="col">
			<label>Valor do débito</label>
			<input class="form-control" type="text"/>
		</div>
		<div class="col">
			<label>Data de vencimento</label>
			<input class="form-control" type="text"/>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label>Categoria do débito</label>
			<input class="form-control" type="text"/>
		</div>
		<div class="col">
			<label>Data de cadastro</label>
			<input class="form-control" type="text"/>
		</div>
		<div class="col">
			<label>Tipo de pagamanto</label>
			<input class="form-control" type="text"/>
		</div>
	</div>
	</div>
	</fieldset>
	<script src="#"></script>
</body>
</html>