<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragmentos/head :: head('Cadastro Cliente')}"></head>
<body>
	<script src="js/scripts.js"></script>
	<header th:replace="~{fragmentos/navBar :: nav}"></header>
	<header th:replace="~{fragmentos/header :: header('Cadastrar Cliente')}"></header>
	<div th:replace="~{fragmentos/fragmentos_cliente :: cliente(clienteDto, '/cliente/aplicar')}">Cadastrar Cliente</div>	
</body>
</html>