<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec=http://www.thymeleaf.org/extras/spring-security
	xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
	crossorigin="anonymous">
	
</script>
<head th:replace="~{fragmentos :: head('Dados Registrados')}"></head>
<body>
	<header
		th:replace="~{fragmentos :: header('Detalhes do Cliente: ' + ${cliente.clienteId})}"></header>
	<main>
		<div class="container">
			<fieldset class="fieldset text-left mb-5">
				<legend>Dados Cliente</legend>
				<form th:action="${action}" method="POST">
					<div class="row mb-3">
						<label for="nome" class="col-sm-1 col-form-label">Nome</label>
						<div class="col-sm-3">
							<input class="form-control" type="text"
								placeholder="Digite seu nome" />
						</div>
						<div class="invalid-feedback"></div>

						<label for="dataNasci" class="col-sm-2 col-form-label">Data
							de Nascimento</label>
						<div class="col-sm-2">
							<input type="date" class="form-control" />
						</div>
						<div class="invalid-feedback"></div>

						<div class="col-sm-4">
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" value="Feminino">
								<label for="Feminino" class="form-check-label col-sm-offset-1">Feminino</label>
							</div>
							<div class="form-check form-check-inline">
								<input type="radio" class="form-check-input" value="Masculino">
								<label for="Masculino" class="form-check-label col-sm-offset-1">Masculino</label>
							</div>
						</div>
					</div>
					<label class="col-sm-3 form-select-label">Escolha o Tipo de
						Contato</label>
					<div class="mb-3 ">
						<select class="form-select">
							<option></option>
						</select>
					</div>
					<div class="row mb-3 align-items-center">
						<label for="telefone" class="col-sm-2 form-label">Telefone
							de Contato</label>
						<div class="col-sm-3">
							<input class="form-control" type="text"
								placeholder="Digite seu Telefone" />
						</div>
						<div class="invalid-feedback"></div>
						<label for="email" class="col-sm-1 form-label">E-mail</label>
						<div class="col-sm-3">
							<input class="form-control" type="text"
								placeholder="Digite seu e-mail" />
						</div>
						<div class="invalid-feedback"></div>
					</div>
					<div class="mb-3">
						<label for="endereco" class="form-label">Escolha o tipo de
							Endereço</label> <select class="form-select">
							<option></option>
						</select>
					</div>
					</br>
					<div class="row mb-3">
						<div class="col-md-2">
							<input id="uf" class="form-control" type="text"
								placeholder="Digite seu UF" />
							<div class="invalid-feedback"></div>
						</div>
						<div class="col-md-4">
							<input id="cidade" class="form-control" type="text"
								placeholder="Digite sua Cidade" />
							<div class="invalid-feedback"></div>
						</div>
						<div class="col-md-3">
							<input id="bairro" class="form-control" type="text"
								placeholder="Digite seu Bairro" />
							<div class="invalid-feedback"></div>
						</div>
						<div class="col-md-3">
							<input placeholder="Complemento" class="form-control" type="text" />
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-3">
							<div class="input-group">
								<input id="cep" type="text" class="form-control"
									placeholder="Digite seu CEP" />
								<button class="btn btn-outline-secondary" type="button"
									onClick="buscarCep()">Pesquisar</button>
								<div class="invalid-feedback"></div>
							</div>
						</div>
						<div class="col-md-6">
							<input id="logradouro" class="form-control" type="text"
								placeholder="Digite rua, av..." />
							<div class="invalid-feedback"></div>
						</div>
						<div class="col-md-3">
							<input class="form-control" type="text"
								placeholder="Informe número da residencia" />
						</div>
					</div>
					<a href="javascript:history.back()-1"
						class="btn btn-outline-warning btn-sm">Voltar</a>
					<button type="button" class="btn btn-outline-danger btn-sm">Pesquisar</button>
				</form>
			</fieldset>
		</div>
		</div>
		<div class="row">
			<div class="col-12">
				<a class="btn btn-primary"
					th:href="@{/cliente/{clienteId}/editar(clienteId = ${cliente.clienteId})}">Editar</a>
				<a href="../cliente" class="btn btn-primary">Voltar</a>
			</div>
		</div>
		</div>
	</main>
</body>
</html>