<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="/css/style.css">
<head th:replace="~{fragmentos/head :: head('Editar Clientes')}"></head>
<body>
	<header th:replace="~{fragmentos/navBar :: nav}"></header>
	<header th:replace="~{fragmentos/header :: header('Lista de Clientes')}"></header>	
		<fieldset class="fieldset text-left mb-5">
			<div class="row">
				<div class="col-12">
					<div th:replace="~{fragmentos/alert}"></div>
					<div>
						<a class="btn btn-outline-success btn-sm" href="../cliente"><i
								class="bi bi-plus-circle-fill"></i> Novo Cliente</a>
					</div>
					<br>
					<table class="table table-hover text-center">
						<thead>
							<tr>
								<th class="table-active">Id.</th>
								<th class="table-active">Nome.</th>
								<th class="table-active">Sexo.</th>
								<th class="table-active">Dt Nasc.</th>
								<th class="table-active">Dt Cadas.</th>
								<th class="table-active">Cont.</th>
								<th class="table-active">End.</th>
								<th class="table-active"></th>
								<th class="table-active"></th>
								<th class="table-active"></th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr th:each="c : ${cliente}">
								<td th:text="${c.id}"></td>
								<td th:text="${c.nome}"></td>
								<td th:text="${c.sexo}"></td>
								<td th:text="${c.dataNasci}" ></td>
								<td th:text="${#temporals.format(c.dataCadastro, 'dd/MM/yyyy')}"></td>
								<td th:each="contato : ${c.contato}">
									<button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="popover"							   
									    th:attr="data-bs-content=${#strings.concat(
									      contato.email, ' - ',
									      contato.telefone, ' ',)}">
									      <span class="bi bi-eye"></span>
									</button>
									<span th:each="contato : ${c.contato}" th:text="${contato.contatoEnum}"></span><br>
								</td>
								<td th:each="end : ${c.endereco}">								
									<button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="popover"
									    th:each="end : ${c.endereco}" 
									    th:attr="data-bs-content=${#strings.concat(
									      end.uf, ' - ',
									      end.localidade, ' ',
									      end.bairro, ' - [Cep',
									      end.cep, '], ',
									      end.logradouro, '-',
									      end.complemento, ' - ',
									      end.numero)}">
									    <span class="bi bi-eye"></span>
									  </button>
									  <span th:text="${end.enderecoEnum}"></span>
									</td>
								<td><a class="btn btn-outline-info btn-sm"
										th:href="@{/exibir/{c.id}(c.id=${c.id})}">Detalhes</a></td>
								<td><a class="btn btn-outline-primary btn-sm"
										th:href="@{/cliente/{c.id}/editar(c.id=${c.id})}">Editar</a></td>
								<td><a class="btn btn-outline-danger btn-sm"
										th:href="@{/cliente/{c.id}/excluir(c.id=${c.id})}">Excluir</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</fieldset>
</body>
<script th:type="@{text/javascript}">
	const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
	const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
</html>