@charset "UTF-8";

.error-message {
	color: #dc3545;
}

.success-message {
	color: #198754;
}

.modal-header {
	background: #F7941E;
	color: #fff;
}

.thead {
	color: #fff;
}
body{
	background: #F0F8FF;
	color: #000;
} 
.mod-thead {
	color: #000;
}
.fieldset {
  width: 100%; /* Definir a largura desejada */
  margin: 0 auto; /* Centralizar o fieldset */
  border: 5px solid #288ba8;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.fieldset legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
