<!DOCTYPE html>
<html layout:decorete="~{layout}">
<head th:replace="~{fragmentos/head :: head('Home Adm')}"></head>
<body>
	
	<nav th:replace="~{fragmentos/navBar :: nav}">
		Menu
	</nav>
	<section class="layout-content" layout:fragment="corpo">
		<div class="fluid text-center">
			<div class="row">
				<div class="col-sm-1">
					<div class="d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
						<ul
							class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
							<li class="nav-item">
								<a href="../controleCaixa/contas-a-pagar-e-receber" class="nav-link py-3 px-2" title=""
									data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
									<i class="bi bi-coin"></i>
								</a>
							</li>
							<li>
								<a href="/dashboard" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
									data-bs-placement="right" data-bs-original-title="Dashboard">
									<i class="bi-speedometer2 fs-1"></i>
								</a>
							</li>
							<li>
								<a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
									data-bs-placement="right" data-bs-original-title="Orders">
									<i class="bi-table fs-1"></i>
								</a>
							</li>
							<li>
								<a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip"
									data-bs-placement="right" data-bs-original-title="Products">
									<i class="bi-heart fs-1"></i>
								</a>
							</li>
							<li>
								<a th:href="@{/usuario/cadastrar-user}" class="nav-link py-3 px-2" title=""
									data-bs-toggle="tooltip" data-bs-placement="right"
									data-bs-original-title="Customers">
									<i class="bi-people fs-1"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-8 col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Clientes</h5>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Fornecedores</h5>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Produtos</h5>
								</div>
							</div>
						</div>
						<div class="col-4 col-sm-6">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Pedidos</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div>
	</div>
	<footer th:replace="~{fragmentos/footer :: rodape}"></footer>
</body>

</html>